@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* univarsal styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     font-family: "Inter", sans-serif;
     background-color: #FFFFFF;
}
/* common styles */
.btn{
    border: none;
    border-radius: 4px;
    padding:16px 12px ;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;

}
.btn-1{
    background-color: #469165;
    color: #FFFFFF;
}
 /* Header section style */
 #nav-bar .nav-container{
   
    margin: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

 }
 #nav-bar .nav-container img{
    height: 60px;
    max-width: 139px;
 }
 #nav-bar .nav-container .nav-items{
    display: flex;
    gap:32px;
    
 }
  #nav-bar .nav-container .nav-items p{
    color: #000000;
    opacity: 90%;
    line-height: 152%;
    font-size: 16px ;
    font-weight: 500 ;
 }
  

 
 /* Hero Section styles */
 #hero{
    background-image: url(./assets/hero-bg.png);
    padding: 70px 120px 134px;
    background-position: center;

 }
 .hero-container{
    text-align: center;
 }
 .hero-container .btn-2{
    background-color: #FFFFFF;
    color: #469165;
    border: none;
    border-radius: 8px ;
    padding: 8px 12px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 100;
 }
 .hero-container h1{
    opacity: 90%;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
 }
 .hero-container p{
    color: #FFFFFF;
    opacity: 80%;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 32px;
 }
 .hero-button{
    display: flex;
    gap: 10px ;
    justify-content: center;
 }
 .hero-button .btn-3{
    border: solid 0.5px #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 100;
    display: flex;
    gap: 10px;
   
 }
 .hero-button .btn-1{
   display: flex;
   
    gap: 5px;
 }
 
 /* Notes section styles */
 .notes-container{
  
   margin: 0 120px;
   text-align: center;
 }
 .notes-heading h2{
   margin-top: 32px;
   margin-bottom: 16px;
   font-size: 48px;
   font-weight: 700;
 }
 .notes-heading p{
   font-size: 16px;
   line-height: 20px;
   color: #627382;
 }
 .notes-box{
   display: flex;
   justify-content: space-between;
   gap: 24px;
   margin-top:44px ;

 }
 .notes-card{
   padding: 24px ;
   border-radius: 8px;
   box-shadow: 0 0 8px 0 rgb(0, 0, 0,.06) ;
   
 }
 .notes-card h3{
   font-size: 24px;
   font-weight: 600;
   margin-bottom:16px ;
   
 }
 .notes-card p{
   font-size: 16px;
   line-height: 20px;
   color: #627382;
 }
 .notes-card img{
   width: 60px;
   height: 60px;
   border-radius: 50%;
   background-color: #F95555;
   padding: 14px;
   margin-bottom: 16px;
 }
 /* Second Brain Section styles */
 .brain-container{
   margin: 120px;
   display: flex;
   align-items: center;
   gap: 60px;
  
 }
 .brain-img img{
 
   max-width: 600px;
   height: 600px;
}

.brain-content h2{
          font-size: 48px;
          font-weight: 700;
          margin: 16px 0;
}
.brain-content p{
   font-size: 16px;
   line-height: 20px;
   color: #627382;
   display: flex;
   gap: 6px;
}
.brain-items{
   margin-top: 40px;
   
}
.brain-items p{
   margin-bottom: 16px;
   color: #000000;
    font-size: 16px;
   line-height: 20px;
   font-size: medium;
}
/* Early Access Section styles */
.access-container{
   background-color: #F7F6F2;
   margin: 0 120px 120px 120px;
   text-align: center;
   padding: 80px 40px;
}
.access-container h2{
   font-size: 40;
   font-weight: bold;
   margin-bottom: 16px;
}
.access-container p{
   font-size: 16px;
   line-height: 24px;
   color: #627382;
   margin-bottom: 24px;
}
.access-container .btn-1{
   margin-bottom:16px ;
}
 .access-container .btn-1 img{
   position: relative;
   top: 5px;
   left: 3px;

 }
 /* Footer section style */
 footer{
   background-color: #001931;
   padding: 120px 120px 30px ;
 }
 .foot-container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
 }
 .foot-container p{
   color: #FFFFFF;
   font-size: 20px;
   font-weight: 300;
   line-height: 28px;
   margin-bottom: 16px;
 }
 .icon{
   display: flex;
   gap: 16px;
 }
 .foot-end{
    
        color: #FAFAFA;
        text-align: center;
        
 }
 .foot-end p{
   font-size: 16px;
   line-height: 24px;
 }
 .btn-1:hover,  .btn-3:hover{
   background-color: #FFFFFF;
   border: solid 0.5px #FFFFFF;
   color: #000000;
 }