@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* univarsal styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     font-family: "Inter", sans-serif;
     background-color: #FFFFFF;
}
/* common styles */
.btn{
    border: none;
    border-radius: 4px;
    padding:16px 12px ;
    cursor: pointer;

}
 /* Header section style */
 #nav-bar .nav-container{
   
    margin: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

 }
 #nav-bar .nav-container img{
    height: 60px;
    max-width: 139px;
 }
 #nav-bar .nav-container .nav-items{
    display: flex;
    gap:32px;
 }
  #nav-bar .nav-container .nav-items p{
    color: #000000;
    opacity: 90%;
    line-height: 152%;
 }
 #nav-bar .nav-container .btn-1{
    background-color: #469165;
    color: #FFFFFF;

 }